@import "../../node_modules/bootstrap/scss/functions";
@import "../scss/breakpoints.scss"; /*Overriding screen width variables*/
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
/*fonts*/
@font-face {
    font-family: 'Mon Amour Two';
    src: url(../fonts/MonAmourTwo.ttf);
}
@font-face{
    font-family: 'Source Serif Variable';
    src: url('../fonts/SourceSerifVariable-Roman.otf.woff') format('woff2');
}

/*text*/
$colorMainText: #8b7468;
$colorText: #6d5546;
$colorLinkHoverText: #000000;
$fontMainTitle: 'Mon Amour Two';
$fontOtherText: 'SourceSerifVariable-Roman';
$SizeMainText: 1.6rem;
/*buttons*/
$butnBackgr: linear-gradient(to top,#e6d6c6, #e5d4c2,#e4d5c2, #e2d1bd, #e0ceb6, #ddc9af, #dcc7ab, #dac5a6);
$butnWidth: 585px;
$butnHeight: 43px;
$butnShadow: 0 0.2em 5px rgba(122,123,123,0.6);
$butnBordR: 25px;

@mixin mainText($ff, $fs, $c, $ta, $lh) {
    font-family: $ff;
    font-size: $fs;
    color: $c;
    text-align: $ta;
    line-height: $lh;
}
/*for images in text content*/
@mixin img($h, $w, $fl, $m) {
    height: $h;
    width: $w;
    float: $fl;
    margin: $m;
}
@mixin buttons($h, $w, $bg, $bs, $br) {
    width: $h;
    height: $w;
    background: $bg;
    box-shadow: $bs;
    border-radius: $br;
}

body {
    background: url(../img/backgr_body.jpg);
    background-position: center;
    background-size: cover
}

/*header*/
.header {
    background: url(../img/backgr_header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    .container {
        min-width: 100%;
        .row {
            min-width: 100%;
        }
    }

    @include media-breakpoint-down(md) {
        .row {
            position: relative;
        }
    }
}
.page-title {
    text-shadow: 4px 1px 4px $colorMainText;

    @include media-breakpoint-down(lg) {
        margin: 29px 0 0 30px;
    }
    .main-title {
        font-size: 4.2rem;
        color:$colorMainText;
        font-family: $fontMainTitle;
        position: absolute;
        left: 65px;
        top: 44px;

        @include media-breakpoint-down(lg) {
            font-size: 3.5rem;
        }
        @include media-breakpoint-down(md) {
            font-size: 3.6rem;
            top: 18px;
            text-align: center;
        }
        @include media-breakpoint-down(sm) {
            font-size: 2.8rem;
            top: 60px;
            left: 0;
        }
        @include media-breakpoint-down(xs) {
            font-size: 1.8rem;
            top: 80px;
            left: 0;
        }
    }
}
.menu {
    width: 672px;
    height: 43px;
    background: $butnBackgr;
    border-radius: $butnBordR;
    box-shadow: $butnShadow;
    position: absolute;
    top: 169px;
    right: 82px;

    @include media-breakpoint-down(lg) {
        width: 487px;
        height: 38px;
    }
    @include media-breakpoint-down(md) {
        width: 487px;
        height: 38px;
        top: 120px;
        margin: auto;
        left: 0;
        right: 0;
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }
    .item {
        font-family: $fontOtherText;
        text-decoration: none;
        color: $colorMainText;
        font-size: 1.7rem;
        margin: 4px 25px 0px 23px;

        &:hover {
            text-decoration: none;
            color: $colorLinkHoverText;
        }

        @include media-breakpoint-down(lg) {
            font-size: 1.4rem;
        }
    }
}

$primary-color: #5a4544;
$space-m: 16px;

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  right: 0;
  margin-top: -1px;
  padding: 0 $space-m;
  background-color: $primary-color;
  height: 50px;
  z-index: 9999999;
  
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
  }
  
  &__icon {
    display: block;
    position: relative;
    background: #f3edef;
    width: 90%;
    height: 4px;
    transition: .4s;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: #f3edef;
        width: 100%;
        height: 4px;
        transition: .4s;
    }
    &::after {
      top: 8px;
    }
    &::before {
      top: -8px;
    }
  }
  .menu-title {
      color: #f3edef;
      display: flex;
      margin-left: 40px;
      position: absolute;
      top: -7px;
      font-size: 0.9rem;
      font-family: $fontOtherText;
  }
  &__container {
    position: absolute;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    top: 245px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
    overflow: hidden;
    background-color: $primary-color;
  }
  
  &__list {
    transition: .5s;
    transition-delay: .5s;
    list-style: none;
    position: absolute;
    top: 0;
    padding-left: 58px;
  }

  &__item {
    font-size: 1rem;
    padding-bottom: 10px;
    font-family: $fontOtherText;
  }

  &__link {
    text-decoration: none;
    color: #f3edef;
  }
 
  &__checkbox {
      display: none;

      &:checked ~ {
          .mobile-menu {
              &__container {
                height: 45%;
                transition-delay: 0s;
              }
          }
      }
    }

    @include media-breakpoint-down(xl) {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        display: flex !important;
    }
}

/*content*/
.content {
    display: block;
    margin-top: 68px;
    .container {
        min-width: 1400px;

        @include media-breakpoint-down(lg) {
            min-width: 1200px;
        }
        @include media-breakpoint-down(md) {
            min-width: 980px;
        }
        @include media-breakpoint-down(sm) {
            min-width: 560px;
        }
        @include media-breakpoint-down(xs) {
            min-width: 280px;
        }
    }
    @include media-breakpoint-down(sm) {
        margin-top: 38px;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 30px;
    }
}
.col-4 img {
    vertical-align: text-bottom;
}
.small-info {
    margin: 45px 75px 0 0;

    @include media-breakpoint-down(md) {
        margin: 0;
    }
}
.icon-text {
    @include media-breakpoint-down(lg) {
        text-align: left !important;
    }
    @include media-breakpoint-down(sm) {
        text-align: center !important;
    }
    @include media-breakpoint-down(xs) {
        text-align: center !important;
    }
}
.tree {
    margin: -32px 0 0px 34px;
    width: 44px;
    height: 48px;

    @include media-breakpoint-down(lg) {
        margin: -32px 0 0 0;
        width: 36px;
        height: 39px;
    }
    @include media-breakpoint-down(sm) {
        width: 36px;
        height: 39px;
    }
    @include media-breakpoint-down(xs) {
        width: 36px;
        height: 39px;
    }
}
.ref-back {
    font-family: $fontOtherText;
    text-decoration: underline;
    color: $colorText;
    display: inline-block;
    font-size: 1.9rem;
    margin-left: 6px;
    &:hover {
        text-decoration: underline;
        color: $colorLinkHoverText;
    }
    .ref-back-text {
        margin-top: 23px;

        @include media-breakpoint-down(lg) {
            margin-top: 0px;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: 25px;
    }
    @include media-breakpoint-down(md) {
        font-size: 1.7rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1.6rem;
    }
    @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
    }
}
.name-text {
    font-family: $fontOtherText;
    color:$colorText;
    line-height: 1.4;
    font-size: 1.9rem;
    margin-left: 19px;
    letter-spacing: 2.1px;

    @include media-breakpoint-down(lg) {
        font-size: 1.6rem;
    }
    @include media-breakpoint-down(md) {
        display: flex;
        justify-content: center;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 70px;
        font-size: 1.5rem;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 70px;
        font-size: 1.2rem;
    }
}
.frame {
    height: 326px;
    width: 263px;
    margin-top: 17px;

    @include media-breakpoint-down(xl) {
        display: block;
        margin: 0 auto;
    }
    @include media-breakpoint-down(xs) {
        height: 278px;
        width: 207px;
    }
}
.surname-title {
    font-size: 3rem;
    letter-spacing: 1.7px;;
    color: $colorMainText;
    font-family: $fontMainTitle;
    margin-left: 160px;

    @include media-breakpoint-down(md) {
        text-align: center;
        margin: 0;
        position: absolute;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2.7rem;
        margin: auto;
        left: 0;
        right: 0;
    }
    @include media-breakpoint-down(xs) {
        font-size: 2rem;
    }
}
.main-text-first {
    @include mainText($fontOtherText, 
    $SizeMainText, $colorMainText, justify, 1.2);
    margin-top: 57px;

    @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 40px;
        font-size: 1.1rem;
    }
}
.main-text-second {
    @include mainText($fontOtherText, 
    $SizeMainText, $colorMainText, justify, 1.2);
    margin-right: -1px;

    @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
    }
    @include media-breakpoint-down(xs) {
        font-size: 1.1rem;
    }
}
.img-text-r {
    @include img(230px, 137px, right, 12px 40px 0 32px);

    @include media-breakpoint-down(md) {
        height: 251px;
        width: 155px;
        margin: 12px 30px 0 23px;
    }
    @include media-breakpoint-down(sm) {
        margin: 12px 23px 0 23px;
    }
    @include media-breakpoint-down(xs) {
        margin: 10px 12px 0 21px;
    }
}
.img-text-l {
    @include img(176px, 269px, left, 26px 27px 20px 0);

    @include media-breakpoint-down(md) {
        height: 204px;
        width: 336px;
    }
    @include media-breakpoint-down(sm) {
        height: 176px;
        width: 268px;
    }
    @include media-breakpoint-down(xs) {
        margin: 15px 23px 14px 0;
    }
}
.buttons {
    margin-top: 50px;
    display: table;
    .top-button {
        @include buttons($butnWidth, $butnHeight, 
        $butnBackgr, $butnShadow, $butnBordR);
        font-size: 1.5rem;

        @include media-breakpoint-down(lg) {
            font-size: 1.2rem;
        }
        @include media-breakpoint-down(md) {
            @include buttons(447px !important, 41px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 1.3rem;
        }
        @include media-breakpoint-down(sm) {
            @include buttons(378px !important, 32px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 1.2rem;
        }
        @include media-breakpoint-down(xs) {
            @include buttons(310px !important, 27px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 0.9rem;
        }
    }
    .bottom-button {
        @include buttons($butnWidth, $butnHeight, 
        $butnBackgr, $butnShadow, $butnBordR);
        margin-top: 19px;
        font-size: 1.5rem;

        @include media-breakpoint-down(lg) {
            font-size: 1.2rem;
        }
        @include media-breakpoint-down(md) {
            @include buttons(447px !important, 41px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 1.3rem;
        }
        @include media-breakpoint-down(sm) {
            @include buttons(378px !important, 32px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 1.2rem;
        }
        @include media-breakpoint-down(xs) {
            @include buttons(310px !important, 27px !important,
             $butnBackgr, $butnShadow, 50px !important);
             font-size: 0.9rem;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: 30px;
    }
}
.ref-text {
    display: flex;
    justify-content: center;
    font-family: 'SourceSerifVariable-Roman';
    text-decoration: none;
    color:$colorText;
    align-items: center;
    &:hover {
        text-decoration: none;
        color: $colorLinkHoverText;
    }
}

/*footer*/
.footer {
    margin-top: 57px;
    .footer-line-img {
        display: block;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            width: 675px;
            height: 77px;
        }
        @include media-breakpoint-down(sm) {
            width: 470px;
            height: 51px;
        }
        @include media-breakpoint-down(xs) {
            width: 320px;
            height: 36px;
        }
    }
    .ref-library {
        &:hover {
            text-decoration: none;
        }
    }
    .footer-text {
        color: $colorText;
        font-size: 0.8rem;
        font-weight: 600;

        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: 30px;
    }
}