footer.footer.mx-auto
    .container
        .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-12
                img.footer-line-img(src="img/footer-line.png", alt="line")
                a.ref-library(href="https://library.vladimir.ru/")
                    p.footer-text.text-center.mt-1 Все права защищены. ГБУК "Владимирская областная научная библиотека" 2015 - 2018