doctype html
html(lang="ru")
    //- include head
    include ./components/head.pug
    body
        include ./components/header.pug
        .mobile-menu
            input.mobile-menu__checkbox(type="checkbox" id="checkbox")
            label.mobile-menu__btn(for="checkbox")
                .mobile-menu__icon
                    p.menu-title МЕНЮ
            .mobile-menu__container
                ul.mobile-menu__list
                    li.mobile-menu__item
                        a.mobile-menu__link(href="#") Home
                    li.mobile-menu__item
                        a.mobile-menu__link(href="#") Пункт
                    li.mobile-menu__item
                        a.mobile-menu__link(href="#") Пункт 2
                    li.mobile-menu__item
                        a.mobile-menu__link(href="#") Пункт 3
        .content.mx-auto
            .container
                .row
                    .col-sm-12.col-md-6.col-lg-4.col-xl-4
                        .icon-text
                            a(href="#")
                                img.tree(src="img/tree.png" alt="tree")
                            a.ref-back(href="#")
                                p.ref-back-text вернуться к дереву
                    .col-sm-12.col-md-6.col-lg-8.col-xl-8
                        p.surname-title Соболевы
                .info
                    .row
                        .col-sm-12.col-md-4.col-lg-4.col-xl-4
                            .small-info.text-center
                                p.name-text Иван Александрович <br /> Соболев <br /> 1895-1963
                                img.frame(src="img/frame_no_photo.png" alt="frame")
                        .col-sm-12.col-md-8.col-lg-8.col-xl-8
                            .main-text
                                p.main-text-first <img src="img/person.jpg" alt="person" class="img-text-r"> 
                                    |Задача организации, в особенности же рамки и место обучения кадров пре-
                                    |ставляет собой интересный эксперимент проверки систем массового уча-
                                    |стия. С другой стороны новая модель организационной деятельности спо-
                                    |собствует подготовки и реализации дальнейших направлений развития.
                                    |Равным образом дальнейшее развитие различных форм деятельности
                                    |играет важную роль в формировании форм развития. С другой стороны
                                    |консультация с широким активом в значительной степени обуславливает
                                    |созлание дальнейших направлений развития. Идейные соображения
                                    |высшего порядка, а также укрепление и развитие структуры                        
                                    |представляетсобойинтересный эксперимент
                                    <img src="img/car.jpg" alt="car" class="img-text-l">
                                    p.main-text-second 
                                        |проверки модели развития.
                                        |Значимость этих проблем настолько очевидна, что начало повседневной
                                        |новых предложений. Значимость этих проблем настолы
                                        |очевидна, что начало повседневной работы по формированию ти
                                        |зиции требуют определения и уточнения новых предложен,
                                        |проверки модели развития. Значимость этих проблем настолы
                                        |очевидна, что начало повседневной работы по формированию зиции требуют
                                        |определения и угочнения проверки модели  развития.
                                    p.main-text-second 
                                        |Значимость этих проблем настолько очевидна, что начал
                                        |повседневной работы по формированию позиции требу
                                        |проверки модели развития. Значимость этих проблем настолько очевидна, что начал
                                        |повседневной работы по формированию позиции требуют определения и уточнен
                                        |новых предложенийЗначимость этих проблем настолько очевидна начало повседневной
                                        |работы по формированию позиции требуют определения и уточнения новых предложений,
                                        |проверки модели развития. Значимость этих проблем настолько очевидна, что начал
                                        |повседневной работы по формированию позиции требуют определения и уточнен
                                        |новых предложений Значимость этих проблем настолью очевидна начало повседневно:
                                        |работы по формированию позиции требуют определения и уточнения новых предложений.
                            .buttons.mx-auto
                                a.top-button.ref-text.d-flex(href="#") Ссылка ссылка ссылка ссылка ссылка
                                a.bottom-button.ref-text.d-flex(href="#") Ссылка ссылка ссылка ссылка ссылка
    //-include footer
    include ./components/footer.pug